<div class="container">
  <table class="table" *ngIf="customers">
    <thead>
    <tr>
      <th>ID</th><th>First name</th><th>Last name</th><th>Age</th><th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of customers._embedded.customers">
      <td>{{c.id}}</td>
      <td>{{c.firstName}}</td>
      <td>{{c.lastName}}</td>
      <td>{{c.age}}</td>
      <td>{{c.email}}</td>
      <td><button class="btn btn-primary" (click)="getBills(c)">Bills</button></td>
    </tr>
    </tbody>
  </table>
</div>
